.projects_wrapper {
    width: 100%;
    background-image: radial-gradient(closest-side at 50% 50%, #faa816 40%, #de9615, #ce8c15 90%);
    height: 100%;
    overflow: auto;
}

.projects_content {
    width: 100%;
    height: 100%;
}

.projects_content header {
    max-width: 1280px;
    margin: 0 auto;
}

.projects_content .page_title {
    max-width: 1280px;
    height: 180px;
}

.projects_content .page_title h1 {
    -webkit-text-stroke: 1px #292929;
    color: transparent;
    font-size: 140px;
    font-weight: bold;
    text-transform: uppercase;
}

.projects_content .description {
    max-width: 1280px;
    height: 150px;
    margin: 20px auto;
}

.projects_content .description p {
    width: 60%;
    margin-left: 10px;
    color: #000;
    margin-bottom: 15px;
}

.projects_content .list {
    max-width: 1280px;
    margin: 0 auto;
    width: 100%;
    height: calc(100% - (190px + 180px + 154px)) !important;
    overflow-y: scroll;
    position: relative;
    z-index: 1010;
}

.city_image_wrapper {
    display: flex;
    justify-content: flex-end;
    height: 154px;
}

.cloud_images {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    z-index: 990;
}

#cloud_3,
#cloud_2,
#cloud_1 {
    display: block;
    position: relative;
}

#cloud_3 {
    left: 90%;
    top: 10%;
}

#cloud_2 {
    left: 65%;
    top: 5%;
}

#cloud_1 {
    left: 70%;
    top: 10%;
}

.airBalloon {
    display: block;
    position: relative;
    left: 73%;
    top: -10%;
}

@media only screen and (max-device-width: 1536px) and (orientation: landscape) {

    .projects_content .page_title {
        max-width: 1200px;
        height: 130px;
    }

    .projects_content .page_title h1 {
        font-size: 90px;
    }

    .projects_content .description {
        max-width: 1200px;
    }

    .projects_content .description p {
        width: 60%;
    }

    .projects_content .list {
        max-width: 1200px;
        height: calc(100% - (190px + 130px + 154px)) !important;
    }

}

@media only screen and (max-device-width: 1440px) and (orientation: landscape) {

    .projects_content .page_title {
        max-width: 1100px;
        height: 130px;
    }

    .projects_content .page_title h1 {
        font-size: 90px;
    }

    .projects_content .description {
        max-width: 1100px;
    }

    .projects_content .description p {
        width: 68%;
    }

    .projects_content .list {
        max-width: 1100px;
        height: calc(100% - (190px + 130px + 154px)) !important;
    }

    .airBalloon {
        top: -15%;
    }
}

@media only screen and (max-device-width: 1366px) and (orientation: landscape) {

    .projects_content .page_title {
        max-width: 1100px;
        height: 130px;
    }

    .projects_content .page_title h1 {
        font-size: 90px;
    }

    .projects_content .description {
        max-width: 1100px;
    }

    .projects_content .description p {
        width: 68%;
    }

    .projects_content .list {
        max-width: 1100px;
        height: calc(100% - (190px + 130px + 154px)) !important;
    }

}

@media only screen and (max-device-width: 1280px) and (orientation: landscape) {

    .projects_content .page_title {
        max-width: 1000px;
        height: 130px;
    }

    .projects_content .page_title h1 {
        font-size: 90px;
    }

    .projects_content .description {
        max-width: 1000px;
    }

    .projects_content .description p {
        width: 68%;
    }

    .projects_content .list {
        max-width: 1000px;
        height: calc(100% - (190px + 130px + 154px)) !important;
    }

    .airBalloon {
        left: 71%;
        top: -18%;
    }
}

@media only screen and (max-device-width: 1180px) and (orientation: landscape) {

    .projects_content .page_title {
        max-width: 900px;
        height: 120px;
    }

    .projects_content .page_title h1 {
        font-size: 90px;
    }

    .projects_content .description {
        max-width: 800px;
        height: 190px;
        margin: 10px auto;
    }

    .projects_content .description p {
        width: 68%;
    }

    .projects_content .list {
        max-width: 800px;
        height: calc(100% - (210px + 120px + 154px)) !important;
    }

    .airBalloon {
        left: 71%;
        top: -18%;
    }
}

@media only screen and (max-device-width: 1024px) and (orientation: landscape) {

    .projects_content .page_title {
        max-width: 740px;
        height: 100px;
    }

    .projects_content .page_title h1 {
        font-size: 80px;
    }

    .projects_content .description {
        max-width: 740px;
        height: 160px;
    }

    .projects_content .description p {
        width: 68%;
        font-size: 0.8rem;
    }

    .projects_content .list {
        max-width: 740px;
        height: calc(100% - (180px + 120px + 154px)) !important;
    }

    .airBalloon {
        left: 66%;
        top: -25%;
    }

    #cloud_3 {
        width: 10%;
        left: 90%;
    }
    
    #cloud_2 {
        width: 15%;
        left: 60%;
    }
    
    #cloud_1 {
        width: 15%;
        left: 68%;
    }
}

@media only screen and (max-device-width: 960px) and (orientation: landscape) {

    .projects_content .page_title {
        max-width: 740px;
        height: 100px;
    }

    .projects_content .page_title h1 {
        font-size: 80px;
    }

    .projects_content .description {
        max-width: 740px;
        height: 160px;
    }

    .projects_content .description p {
        width: 68%;
        font-size: 0.8rem;
    }

    .projects_content .list {
        max-width: 540px;
        height: calc(100% - (180px + 100px + 154px)) !important;
    }

    .airBalloon {
        left: 66%;
        top: -25%;
    }

    #cloud_3 {
        width: 10%;
        left: 90%;
    }
    
    #cloud_2 {
        width: 15%;
        left: 60%;
    }
    
    #cloud_1 {
        width: 15%;
        left: 68%;
    }
}

@media only screen and (max-device-width: 800px) and (orientation: landscape) {

    .projects_content .page_title {
        max-width: 600px;
        height: 100px;
    }

    .projects_content .page_title h1 {
        font-size: 80px;
    }

    .projects_content .description {
        max-width: 600px;
        height: 160px;
    }

    .projects_content .description p {
        width: 90%;
        font-size: 0.8rem;
    }

    .projects_content .list {
        max-width: 600px;
        margin-right: 40px;
        height: calc(100% - (180px + 100px + 154px)) !important;
    }

    .airBalloon {
        left: 66%;
        top: -25%;
    }

    #cloud_3, #cloud_2, #cloud_1 {
        display: none;
    }
    
}

/* portrait */

@media only screen and (max-device-height: 1366px) and (orientation: portrait) {
    .projects_content .page_title {
        max-width: 740px;
        height: 120px;
    }

    .projects_content .page_title h1 {
        font-size: 80px;
    }

    .projects_content .description {
        max-width: 740px;
        height: 180px;
    }

    .projects_content .description p {
        width: 68%;
        font-size: 0.9rem;
    }

    .projects_content .list {
        max-width: 740px;
        height: calc(100% - (120px + 180px + 154px)) !important;
    }

    .airBalloon {
        left: 66%;
        top: -15%;
    }

    #cloud_3 {
        width: 10%;
        left: 90%;
    }
    
    #cloud_2 {
        width: 15%;
        left: 60%;
    }
    
    #cloud_1 {
        width: 15%;
        left: 68%;
    }
}

@media only screen and (max-device-height: 1280px) and (orientation: portrait) {
    .projects_content .page_title {
        max-width: 740px;
        height: 120px;
    }

    .projects_content .page_title h1 {
        font-size: 80px;
    }

    .projects_content .description {
        max-width: 740px;
        height: 180px;
    }

    .projects_content .description p {
        width: 68%;
        font-size: 0.9rem;
    }

    .projects_content .list {
        max-width: 740px;
        height: calc(100% - (120px + 180px + 154px)) !important;
    }

    .airBalloon {
        left: 66%;
        top: -15%;
    }

    #cloud_3 {
        width: 10%;
        left: 94%;
    }
    
    #cloud_2 {
        width: 15%;
        left: 64%;
    }
    
    #cloud_1 {
        width: 15%;
        left: 72%;
    }
}

@media only screen and (max-device-height: 1024px) and (orientation: portrait) {
    .projects_content .page_title {
        max-width: 620px;
        height: 120px;
    }

    .projects_content .page_title h1 {
        font-size: 70px;
    }

    .projects_content .description {
        max-width: 620px;
        height: 200px;
    }

    .projects_content .description p {
        width: 68%;
        font-size: 0.9rem;
    }

    .projects_content .list {
        max-width: 620px;
        height: calc(100% - (120px + 200px + 154px)) !important;
    }

    .airBalloon {
        left: 62%;
        top: -20%;
    }

    #cloud_3 {
        width: 10%;
        left: 94%;
    }
    
    #cloud_2 {
        width: 15%;
        left: 64%;
    }
    
    #cloud_1 {
        width: 15%;
        left: 72%;
    }
}

@media only screen and (max-device-height: 960px) and (orientation: portrait) {
    .projects_content .page_title {
        max-width: 620px;
        height: 120px;
    }

    .projects_content .page_title h1 {
        font-size: 70px;
    }

    .projects_content .description {
        max-width: 620px;
        height: 170px;
    }

    .projects_content .description p {
        width: 80%;
        font-size: 0.9rem;
    }

    .projects_content .list {
        max-width: 620px;
        height: calc(100% - (120px + 210px + 154px)) !important;
    }

    .airBalloon {
        left: 62%;
        top: -20%;
    }

    #cloud_3, #cloud_2, #cloud_1 {
        display: none;
    }
}

@media only screen and (max-width: 680px) and (orientation: portrait) {
    .projects_content .page_title {
        max-width: 620px;
        height: 120px;
    }

    .projects_content .page_title h1 {
        font-size: 70px;
        text-align: center;
    }

    .projects_content .description {
        max-width: 620px;
        height: 170px;
        width: 100%;
        padding: 0 20px;
    }

    .projects_content .description p {
        width: 100%;
        font-size: 0.9rem;
        margin-left: 0;
    }

    .projects_content .list {
        max-width: 620px;
        height: calc(100% - (120px + 220px + 154px)) !important;
    }

    .airBalloon {
        display: none;
    }

    #cloud_3, #cloud_2, #cloud_1 {
        display: none;
    }
}

@media only screen and (max-width: 380px) and (orientation: portrait) {
    .projects_content .page_title {
        max-width: 620px;
        height: 120px;
    }

    .projects_content .page_title h1 {
        font-size: 3.9rem;
        text-align: center;
    }

    .projects_content .description {
        max-width: 620px;
        height: 170px;
        height: calc(100% - (120px + 154px));
        width: 100%;
        padding: 0 20px;
    }

    .projects_content .description p {
        width: 100%;
        font-size: 0.9rem;
        margin-left: 0;
    }

    .projects_content .list {
        max-width: 620px;
        display: none;
    }

    .airBalloon {
        display: none;
    }

    #cloud_3, #cloud_2, #cloud_1 {
        display: none;
    }
}