.projects_content .list section {
    width: 100%;
    display: flex;
    flex-direction: row;
}

.line_wrappew {
    width: 20px;
    border-right: 2px solid #fff;
}

.carusel_wrapper {
    width: calc(100% - 20px);
}

.carusel_wrapper header h3 {
    font-size: 60px;
    font-weight: bold;
    margin: 10px 0px 50px 0px;
    text-transform: uppercase;
}

.carusel_wrapper header span {
    display: inline-block;
    width: 18px;
    height: 18px;
    background-color: #fff;
    border-radius: 50%;
    position: relative;
    left: -30px;
    top: -11px;
    margin-left: 20px;
}

.carusel_wrapper .carusel {
    width: 80%;
    margin: 0 auto;
    margin-bottom: 30px;
}

.carusel_wrapper .carusel .card-wrapper {
    width: 400px;
    height: 200px;
    padding: 0 5px;
}

.carusel_wrapper .carusel .card {
    width: 100%;
    height: 100%;
    background-color: #1b1b1b;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.imag_carde1 {
    width: 30%;
    height: auto;
}

.imag_carde3 {
    width: 90%;
    height: auto;
}

.slick-prev {
    left: -60px;
}

.slick-prev::before {
    content: "";
}

.slick-next::before {
    content: "";
}

.slick-next {
    right: -60px;
}

.slick-next,
.slick-prev {
    font-size: 0;
    line-height: 0;
    top: 50%;
    width: 49px;
    height: 92px;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
    cursor: pointer;
    color: transparent;
    border: none;
    outline: 0;
    background: 0 0;
}

/* landscape */

@media only screen and (max-device-width: 1536px) and (orientation: landscape) {

    .carusel_wrapper .carusel .card {
        overflow: hidden;
    }

    .imag_carde3 {
        width: 90%;
        height: auto;
    }

    .imag_carde1 {
        width: 30%;
        height: auto;
    }

}

@media only screen and (max-device-width: 1440px) and (orientation: landscape) {

    .carusel_wrapper .carusel .card {
        overflow: hidden;
    }

    .imag_carde3 {
        width: 90%;
        height: auto;
    }

    .imag_carde1 {
        width: 30%;
        height: auto;
    }
}

@media only screen and (max-device-width: 1366px) and (orientation: landscape) {

    .carusel_wrapper .carusel .card {
        overflow: hidden;
    }

    .imag_carde3 {
        width: 90%;
        height: auto;
    }

    .imag_carde1 {
        width: 30%;
        height: auto;
    }
}

@media only screen and (max-device-width: 1280px) and (orientation: landscape) {

    .carusel_wrapper .carusel .card {
        overflow: hidden;
    }

    .imag_carde3 {
        width: 90%;
        height: auto;
    }

    .imag_carde1 {
        width: 30%;
        height: auto;
    }
}

@media only screen and (max-device-width: 1180px) and (orientation: landscape) {

    .carusel_wrapper .carusel .card {
        overflow: hidden;
    }

    .imag_carde3 {
        width: 90%;
        height: auto;
    }

    .imag_carde1 {
        width: 30%;
        height: auto;
    }
}

@media only screen and (max-device-width: 1024px) and (orientation: landscape) {

    .carusel_wrapper .carusel {
        width: 50%;
    }

    .carusel_wrapper .carusel .card {
        overflow: hidden;
    }

    .imag_carde3 {
        width: 80%;
        height: auto;
    }

    .imag_carde1 {
        width: 80%;
        height: auto;
    }
}

@media only screen and (max-device-width: 960px) and (orientation: landscape) {

    .carusel_wrapper .carusel {
        width: 50%;
    }

    .carusel_wrapper .carusel .card {
        overflow: hidden;
    }

    .imag_carde3 {
        width: 80%;
        height: auto;
    }

    .imag_carde1 {
        width: 80%;
        height: auto;
    }
}

@media only screen and (max-device-width: 800px) and (orientation: landscape) {

    .carusel_wrapper .carusel {
        width: 50%;
    }

    .carusel_wrapper .carusel .card {
        overflow: hidden;
    }

    .imag_carde3 {
        width: 80%;
        height: auto;
    }

    .imag_carde1 {
        width: 80%;
        height: auto;
    }
}

/* portrait */

@media only screen and (max-device-height: 1366px) and (orientation: portrait) {
    .carusel_wrapper .carusel {
        width: 50%;
    }

    .carusel_wrapper .carusel .card {
        overflow: hidden;
    }

    .imag_carde3 {
        width: 60%;
        height: auto;
    }

    .imag_carde1 {
        width: 60%;
        height: auto;
    }
}

@media only screen and (max-device-height: 1280px) and (orientation: portrait) {
    .carusel_wrapper .carusel {
        width: 50%;
    }

    .carusel_wrapper .carusel .card {
        overflow: hidden;
    }

    .imag_carde3 {
        width: 60%;
        height: auto;
    }

    .imag_carde1 {
        width: 60%;
        height: auto;
    }
}

@media only screen and (max-device-height: 1024px) and (orientation: portrait) {
    .carusel_wrapper .carusel {
        width: 50%;
    }

    .carusel_wrapper .carusel .card {
        overflow: hidden;
    }

    .imag_carde3 {
        width: 74%;
        height: auto;
    }

    .imag_carde1 {
        width: 74%;
        height: auto;
    }
}

@media only screen and (max-device-height: 960px) and (orientation: portrait) {
    .carusel_wrapper .carusel {
        width: 50%;
    }

    .carusel_wrapper .carusel .card {
        overflow: hidden;
    }

    .imag_carde3 {
        width: 74%;
        height: auto;
    }

    .imag_carde1 {
        width: 74%;
        height: auto;
    }
}