.home_wrapper {
    width: 100%;
    height: 100%;
    background-color: #014fa2;
}

.home_wrapper_bg {
    width: 100%;
    height: 100%;
    background-image: url('./../../assets/first_slide_bg.png');
    background-repeat: no-repeat;
    background-position: right 50%;
}

.home_wrapper header {
    height: 140px;
    max-width: 1280px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 auto;
}

.container {
    max-width: 1280px;
    height: calc(100% - 140px - 240px);
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.about_me {
    display: block;
    width: 50%;
    color: #fff;
    line-height: 1.6;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.7);
}

.about_me h3 {
    font-size: 2rem;
    margin: 20px 0;
}

.about_me h3 span {
    color: #ff9a28;
}

.avatar_wrapper {
    display: block;
    width: 50%;
}

.home_wrapper .page_title {
    max-width: 1280px;
    height: 140px;
    margin: 0 auto;
}

.home_wrapper .page_title h1 {
    -webkit-text-stroke: 1px #fff;
    color: transparent;
    font-size: 140px;
    font-weight: bold;
}

.icons {
    display: block;
    position: relative;
}

.ava_2 {
    display: block;
    position: relative;
}

.ava_1 {
    display: block;
    position: relative;
}

@media only screen and (max-width: 601px) {
    .home_wrapper_bg {
        background-position: left 50%;
        background-size: cover;
    }

    .container {
        height: calc(100% - 80px - 240px);
    }

    .about_me {
        width: 60%;
    }

    .avatar_wrapper {
        display: none;
    }

    .home_wrapper .page_title h1 {
        font-size: 80px;
        text-align: center;
    }

    .icons {
        display: none;
    }

    .ava_2 {
        display: none;
    }

    .ava_1 {
        display: none;
    }
}

@media only screen and (max-width: 768px) {
    .home_wrapper_bg {
        background-position: left 50%;
        background-size: cover;
    }

    .container {
        height: calc(100% - 80px - 240px);
    }

    .about_me {
        width: 60%;
    }

    .avatar_wrapper {
        display: none;
    }

    .home_wrapper .page_title h1 {
        font-size: 80px;
        text-align: center;
    }

    .icons {
        display: none;
    }

    .ava_2 {
        display: none;
    }

    .ava_1 {
        display: none;
    }
}

@media only screen and (max-width: 800px) {
    .home_wrapper_bg {
        background-position: left 50%;
        background-size: cover;
    }

    .container {
        height: calc(100% - 80px - 240px);
    }

    .about_me {
        width: 60%;
    }

    .avatar_wrapper {
        display: none;
    }

    .home_wrapper .page_title h1 {
        font-size: 80px;
        text-align: center;
    }

    .icons {
        display: none;
    }

    .ava_2 {
        display: none;
    }

    .ava_1 {
        display: none;
    }
}

@media only screen and (max-width: 800px) and (max-height: 1280px) {
    .home_wrapper_bg {
        background-position: left 50%;
        background-size: cover;
    }

    .container {
        height: calc(100% - 80px - 240px);
    }

    .about_me {
        width: 60%;
    }

    .avatar_wrapper {
        display: none;
    }

    .home_wrapper .page_title h1 {
        font-size: 80px;
        text-align: center;
    }

    .icons {
        display: none;
    }

    .ava_2 {
        display: none;
    }

    .ava_1 {
        display: none;
    }
}
@media only screen and (max-width: 820px) and (max-height: 1180px) {
    .home_wrapper_bg {
        background-position: left 50%;
        background-size: cover;
    }

    .container {
        height: calc(100% - 80px - 240px);
    }

    .about_me {
        width: 60%;
    }

    .avatar_wrapper {
        display: none;
    }

    .home_wrapper .page_title h1 {
        font-size: 80px;
        text-align: center;
    }

    .icons {
        display: none;
    }

    .ava_2 {
        display: none;
    }

    .ava_1 {
        display: none;
    }
}

@media only screen and (max-device-width: 1180px) and (orientation:landscape){
    .home_wrapper_bg {
        background-position: left 50%;
        background-size: cover;
    }

    .container {
        max-width: 900px;
        height: calc(100% - 80px - 240px);
    }

    .about_me {
        width: 50%;
    }

    .avatar_wrapper {
        width: 50%;
    }

    .home_wrapper .page_title h1 {
        font-size: 80px;
        text-align: center;
    }

    .icons {
        display: none;
    }

    .ava_2 {
        display: none;
    }

    .ava_1 {
        display: none;
    }
}

@media only screen and (max-width: 1280px) and (max-heightL: 720px) {
    .home_wrapper_bg {
        background-position: right 50%;
        background-size: cover;
    }

    .container {
        max-width: 900px;
        height: calc(100% - 80px - 240px);
    }

    .home_wrapper .page_title {
        max-width: 900px;
    }

    .home_wrapper .page_title h1 {
        font-size: 80px;
    }

    .icons {
        width: 20%;
        left: 77%;
        top: 15%;
        margin: 0 !important;
    }

    .ava_2 {
        width: 10%;
        left: 80%;
        top: 68%;
        margin: 0 !important;
    }

    .ava_1 {
        width: 15%;
        left: 80%;
        top: 84%;
        margin: 0 !important;
    }
}
@media only screen and (max-width: 1366px) and (max-heightL: 768px) {
    .home_wrapper_bg {
        background-position: right 50%;
        background-size: cover;
    }

    .container {
        max-width: 900px;
        height: calc(100% - 80px - 240px);
    }

    .home_wrapper .page_title {
        max-width: 900px;
    }

    .home_wrapper .page_title h1 {
        font-size: 80px;
    }

    .icons {
        width: 20%;
        left: 77%;
        top: 15%;
        margin: 0 !important;
    }

    .ava_2 {
        width: 8%;
        left: 80%;
        top: 70%;
        margin: 0 !important;
    }

    .ava_1 {
        width: 12%;
        left: 80%;
        top: 88%;
        margin: 0 !important;
    }
}

@media only screen and (max-width: 1440px) and (max-heightL: 900px) {
    .home_wrapper_bg {
        background-position: right 50%;
        background-size: cover;
    }

    .container {
        max-width: 1000px;
        height: calc(100% - 80px - 240px);
    }

    .home_wrapper .page_title {
        max-width: 1000px;
    }

    .home_wrapper .page_title h1 {
        font-size: 80px;
    }

    .icons {
        width: 20%;
        left: 75%;
        top: 15%;
        margin: 0 !important;
    }

    .ava_2 {
        width: 8%;
        left: 80%;
        top: 70%;
        margin: 0 !important;
    }

    .ava_1 {
        width: 12%;
        left: 80%;
        top: 88%;
        margin: 0 !important;
    }
}

@media only screen and (max-width: 1536px) and (max-heightL: 864px) {
    .home_wrapper_bg {
        background-position: right 50%;
    }

    .container {
        max-width: 1200px;
        height: calc(100% - 80px - 240px);
    }

    .home_wrapper .page_title {
        max-width: 1200px;
    }

    .home_wrapper .page_title h1 {
        font-size: 90px;
    }

    .icons {
        width: 20%;
        left: 77%;
        top: 15%;
        margin: 0 !important;
    }

    .ava_2 {
        width: 8%;
        left: 80%;
        top: 70%;
        margin: 0 !important;
    }

    .ava_1 {
        width: 12%;
        left: 80%;
        top: 88%;
        margin: 0 !important;
    }
}

/* 
 1366x768 (22.98%)
 1920x1080 (20.7%)
 1536x864 (7.92%)
 1440x900 (7.23%)
 1280x720 (4.46%)

 768x1024 (51.43%)
 1280x800 (7.28%)
 800x1280 (5.26%)
 601x962 (4.32%)
*/