.mask {
  display: block;
  background-color: #ff9a28;
  left: 60%;
  top: 20%;
  position: absolute;
  z-index: 10000;
  -webkit-mask-image: url('./../assets/avatar.png');
  mask-image: url('./../assets/avatar.png');
  -webkit-mask-repeat: no-repeat;
  mask-size: 98%;
  -webkit-mask-size: 98%;
  mask-repeat: no-repeat;
}

.avatarI img {
  width: 100%;
}

.icons {
  display: block;
  position: relative;
  left: 75%;
  top: 10%;
}

.ava_2 {
  display: block;
  position: relative;
  left: 79%;
  top: 65%;
}

.ava_1 {
  display: block;
  position: relative;
  left: 79%;
  top: 80%;
}

/* landscape */

@media only screen and (max-device-width: 1536px) and (orientation: landscape) {
  .mask {
    left: 60%;
    top: 20%;
    mask-size: 80%;
    -webkit-mask-size: 80%;
  }

  .mask img {
    width: 85%;
  }
}

@media only screen and (max-device-width: 1440px) and (orientation: landscape) {

  .mask {
    left: 58%;
    top: 20%;
    mask-size: 80%;
    -webkit-mask-size: 80%;
  }

  .mask img {
    width: 84%;
  }

  .icons {
    width: 21%;
  }
}

@media only screen and (max-device-width: 1366px) and (orientation: landscape) {

  .mask {
    left: 55%;
    top: 20%;
    mask-size: 80%;
    -webkit-mask-size: 80%;
  }

  .mask img {
    width: 84%;
  }

  .icons {
    width: 22%;
  }
}

@media only screen and (max-device-width: 1280px) and (orientation: landscape) {

  .mask {
    left: 55%;
    top: 20%;
    mask-size: 80%;
    -webkit-mask-size: 80%;
  }

  .mask img {
    width: 84%;
  }

  .icons {
    width: 22%;
  }
}

@media only screen and (max-device-width: 1180px) and (orientation: landscape) {

  .mask {
    left: 55%;
    top: 20%;
    mask-size: 70%;
    -webkit-mask-size: 70%;
    display: none;
  }

  .mask img {
    width: 80%;
  }

  .icons {
    width: 22%;
    display: none;
  }
  .ava_2 {
    display: none;
  }
  
  .ava_1 {
    display: none;
  }
}

@media only screen and (max-device-width: 1024px) and (orientation: landscape) {

  .mask {
    left: 64%;
    top: 20%;
    mask-size: 80%;
    -webkit-mask-size: 80%;
    display: none;
  }

  .mask img {
    width: 84%;
  }

  .icons {
    width: 22%;
    left: 77%;
    top: 13%;
    display: none;
  }

  .ava_2 {
    left: 79%;
    top: 60%;
    display: none;
  }
  
  .ava_1 {
    left: 79%;
    top: 80%;
    display: none;
  }
}

@media only screen and (max-device-width: 960px) and (orientation: landscape) {

  .mask {
    left: 64%;
    top: 20%;
    mask-size: 80%;
    -webkit-mask-size: 80%;
    display: none;
  }

  .mask img {
    width: 84%;
  }

  .icons {
    width: 22%;
    left: 77%;
    top: 13%;
    display: none;
  }

  .ava_2 {
    left: 79%;
    top: 60%;
    display: none;
  }
  
  .ava_1 {
    left: 79%;
    top: 80%;
    display: none;
  }
}

@media only screen and (max-device-width: 800px) and (orientation: landscape) {

  .mask {
    left: 64%;
    top: 20%;
    mask-size: 80%;
    -webkit-mask-size: 80%;
    display: none;
  }

  .mask img {
    width: 84%;
  }

  .icons {
    width: 22%;
    left: 77%;
    top: 13%;
    display: none;
  }

  .ava_2 {
    width: 10%;
    left: 79%;
    top: 60%;
    display: none;
  }
  
  .ava_1 {
    width: 15%;
    left: 79%;
    top: 80%;
    display: none;
  }
}


/* portrait */

@media only screen and (max-device-height: 1366px) and (orientation: portrait) {
  .mask {
    left: 30%;
    top: 10%;
    mask-size: 75%;
    -webkit-mask-size: 75%;
    display: none;
  }

  .mask img {
    width: 84%;
  }

  .icons {
    width: 30%;
    left: 55%;
    top: 5%;
    display: none;
  }

  .ava_2 {
    display: none;
  }
  
  .ava_1 {
    display: none;
  }
}

@media only screen and (max-device-height: 1280px) and (orientation: portrait) {
  .mask {
    left: 30%;
    top: 8%;
    mask-size: 75%;
    -webkit-mask-size: 75%;
  }

  .mask img {
    width: 84%;
  }

  .icons {
    width: 30%;
    left: 55%;
    top: 5%;
  }

  .ava_2 {
    display: none;
  }
  
  .ava_1 {
    display: none;
  }
}

@media only screen and (max-device-height: 1024px) and (orientation: portrait) {
  .mask {
    left: 30%;
    top: 8%;
    mask-size: 56%;
    -webkit-mask-size: 56%;
  }

  .mask img {
    width: 60%;
  }

  .icons {
    width: 30%;
    left: 50%;
    top: 5%;
  }

  .ava_2 {
    display: none;
  }
  
  .ava_1 {
    display: none;
  }
}

@media only screen and (max-device-height: 960px) and (orientation: portrait) {
  .mask {
    left: 30%;
    top: 8%;
    mask-size: 56%;
    -webkit-mask-size: 56%;
  }

  .mask img {
    width: 60%;
  }

  .icons {
    width: 30%;
    left: 50%;
    top: 5%;
  }

  .ava_2 {
    display: none;
  }
  
  .ava_1 {
    display: none;
  }
}

